#badge {
    width: 60px;
}
#sprite {
    width: 218px;
}
#icon {
    width: 80px;
}
#map {
    width: 220px;
}
#pokehome {
    width: 45px;
}
#mapB {
    width: 340px;
}
#cspr {
    width: 128px;
}
#pspr {
    width: 130px;
}