p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    color: #e8eceb;
}
h1 {
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    font-size: 50px;
}
h2 {
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}
body {
    margin-left: 25%;
    margin-right: 25%;
}
main {
    width: 300px;
    border: 0px solid;
    border-radius: 20px;
    background-color: #08140f ;
    padding-left: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
}
img {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 41.5%;
}
@font-face {
    font-family: OCR_A;
    src: url("C:\Users\lpsca\OneDrive\Documents\College\Junior\iffall2024\resources\OCRAEXT.TTF");
} 
audio {
    float: left;
    clear:left;
    margin-left: 28.5px;
    margin-top: 30px;
    width: 41.5%;
}
html{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position-y: -400px;
    background-attachment: fixed;
    background-size: 1500px;

}