html {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    color: rgb(87, 53, 39);
}
body {
    background: rgb(255, 238, 215);
    margin-top: 4%;
    margin-left: 27%;
    margin-right: 27%;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    margin: .5em;
}
img {
    width: 100%;
    margin-bottom: 3em;
}
h2 {
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    margin: 0px 0px 0px .5em;
    text-transform: uppercase;
}
div {
    margin: 1em 0% 5em 0%;
    padding: 1.5em;
    background-color: rgb(249, 202, 228);
    border-radius: 2em;
    
}
ul {
    text-align: center;
}
li img{
    width: 85%;
    vertical-align: top;
}
.m{
    width: 85%;
    vertical-align: top;
}
.grid {
    padding: 0;
}
.grid li {
    display: block;
    width: 33%;
    text-align: auto;
    margin-top: 1.5rem;
}
.using-inline-block li{
    display: inline-block;
}
.using-inline-block{
    font-size: 0%;
}